@import '@styles/editable-placeholder.scss';

.editable[contenteditable='true']:empty:before {
  @include editable-placeholder;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #9195a1;
}
